<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>df_Connector_backup</servlet-name>
        <servlet-class>DataFlowPackage.df_Connector_backup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>df_CLE_API_backup</servlet-name>
        <servlet-class>DataFlowPackage.df_CLE_API_backup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>df_Connector</servlet-name>
        <servlet-class>DataFlowPackage.df_Connector</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>df_CLE_API</servlet-name>
        <servlet-class>DataFlowPackage.df_CLE_API</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>df_API_TOPERROR_APP</servlet-name>
        <servlet-class>DataFlowPackage.df_API_TOPERROR_APP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>df_TIBCOLOG_ERRORAPP</servlet-name>
        <servlet-class>DataFlowPackage.df_TIBCOLOG_ERRORAPP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>df_transaction</servlet-name>
        <servlet-class>DataFlowPackage.df_transaction</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>df_Connector</servlet-name>
        <url-pattern>/df_Connector</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>df_CLE_API</servlet-name>
        <url-pattern>/df_CLE_API</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>df_API_TOPERROR_APP</servlet-name>
        <url-pattern>/df_API_TOPERROR_APP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>df_TIBCOLOG_ERRORAPP</servlet-name>
        <url-pattern>/df_TIBCOLOG_ERRORAPP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>df_transaction</servlet-name>
        <url-pattern>/df_transaction</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
